body {
    background: #ffffff;
    color: #111;
    font-family: sans-serif;
}
.content {
    margin: 7% auto 0;
    padding: 2em 1em 1em;
    max-width: 640px;
}
.footer {
    clear: both;
    margin-top: 14%;
    border-top: 1px solid #e5e5e5;
    background: #f9f9f9;
    padding: 2em 0;
    text-align: center;
}
img {
    float: left;
    margin: 0 2em 2em 0;
}
a img {
    border: 0;
}

p {
    font-size: 14px;
    clear: both;
}